<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=1280")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/style.css")
		title Русская усадьба
	body
		.wrap
			header
				.logo-container
					.logo
						a(href="/")
							img(src="images/ui/logo.png", alt="")
					div производство мебели  из дерева
				.top-data
					.worktime
						div с 9:00 до 21:00
						div Без выходных
					.mail
						a(href="mailto:info@info.ru") info@info.ru
					.phone
						a(href="tel:74958054267") +7 495 805 42 67
						a(href="tel:79661005003") +7 966 100 50 03
			nav
				ul
					li
						a(href="#") доставка
					li
						a(href="#") как заказать
					li
						a(href="#") каталог нашей продукции
					li
						a(href="#") контакты
					li
						a(href="#") гарантия
			main
				aside
					.collection
						.img-form
							img(src="http://pipsum.com/500x500", alt="")
						a(href="#") комплекты мебели
					.sidebar-menu
						ul
							li
								a(href="#") дизайн-проекты
							li
								a(href="#") цветовая гамма
							li
								a(href="#") доставка
							li 
								a(href="#") акции 
							li
								a(href="#") вызов замерщика
							li
								a(href="#") акции
							li
								a(href="#") вызов замерщика


				article
					section.category-catalog
						.breadcrumbs
							a(href="#") Главная
							a(href="#") Комплекты мебели
							span Кресла
						h1 Кресла
						.catalog-wrap
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
					section.about-category
						h3 Описание категории кресла
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						.bottom-data
							.worktime
								div с 9:00 до 21:00
								div Без выходных
							.mail
								a(href="mailto:info@info.ru") info@info.ru
							.phones
								a(href="tel:74958054267") +7 495 805 42 67
								a(href="tel:79661005003") +7 966 100 50 03
			footer
				.footer-nav
					ul
						li
							a(href="#") доставка 
						li
							a(href="#") как заказать 
						li
							a(href="#") каталог
						li
							a(href="#") контакты
						li
							a(href="#") гарантия
				.copyr © 2016 Русская усадьба
			.cb-btn
				div Обратный звонок
					span или напишите нам






