<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="viewport" content="width=1280")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/owl.carousel.css")
		link(rel="stylesheet", href="css/style.css")
		title Русская усадьба
	body
		.wrap
			header
				.logo-container
					.logo
						a(href="/")
							img(src="images/ui/logo.png", alt="")
					div производство мебели  из дерева
				.top-data
					.worktime
						div с 9:00 до 21:00
						div Без выходных
					.mail
						a(href="mailto:info@info.ru") info@info.ru
					.phone
						a(href="tel:74958054267") +7 495 805 42 67
						a(href="tel:79661005003") +7 966 100 50 03
			.main-slider
				.slides
					.slide-item
						img(src="http://pipsum.com/1000x425", alt="")
					.slide-item
						img(src="http://pipsum.com/1000x425", alt="")
					.slide-item
						img(src="http://pipsum.com/1000x425", alt="")
			nav
				ul
					li
						a(href="#") доставка
					li
						a(href="#") как заказать
					li
						a(href="#") каталог нашей продукции
					li
						a(href="#") контакты
					li
						a(href="#") гарантия
			main
				aside
					.collection
						.img-form
							img(src="http://pipsum.com/500x500", alt="")
						a(href="#") комплекты мебели
					.sidebar-menu
						ul
							li
								a(href="#") дизайн-проекты
							li
								a(href="#") цветовая гамма
							li
								a(href="#") доставка
							li 
								a(href="#") акции 
							li
								a(href="#") вызов замерщика
							li
								a(href="#") акции
							li
								a(href="#") вызов замерщика


				article
					section.catalog
						h1 каталог нашей продукции
						.catalog-wrap
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							.item
								a(href="#")
									.photo-container
										.img
											img(src="http://pipsum.com/200x300", alt="")
									span Кресла
							
					section.about
						h2 С душой и на века!
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Наша компания готова представить вашему вниманию большой выбор деревянной мебели под старину, будь то  кухня под старину или состаренный стол, которые выполнены в старом классическом стиле. Данные предметы интерьера являются поистине уникальными и экологически чистыми. Она имеет отличное качество и превосходный дизайн. Данная мебель собирается вручную с помощью высококвалифицированных мастеров древесного дела, которые подходят к своей работе со всей душой и полной ответственностью.
						p.
							Мы также готовы выполнить на заказ эксклюзивные варианты искусственно состаренной мебели по вашему вкусу и предпочтению. Благодаря нашим усилиям, интерьер самого вашего жилища будет просто неповторимым. Наши профессиональные дизайнеры учитывают всевозможные пожелания клиента и выполняют все его прихоти. Они составят грамотные эскизы будущей мебели, а грамотные мастера нашего цеха воплотят их в реальность вплоть до мелочей.
						.content-img
							.img
								img(src="http://pipsum.com/800x425", alt="")
					section.callback
						h3 С душой и на века!
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						.form
							.title Отправить заявку
							form
								.form-field
									input(type="text" placeholder="Ваше имя" required)
									input(type="text" placeholder="Ваш телефон" required)
								input(type="submit" value="Отправить")
						.bottom-data
							.worktime
								div с 9:00 до 21:00
								div Без выходных
							.mail
								a(href="mailto:info@info.ru") info@info.ru
							.phones
								a(href="tel:74958054267") +7 495 805 42 67
								a(href="tel:79661005003") +7 966 100 50 03
			footer
				.footer-nav
					ul
						li
							a(href="#") доставка 
						li
							a(href="#") как заказать 
						li
							a(href="#") каталог
						li
							a(href="#") контакты
						li
							a(href="#") гарантия
				.copyr © 2016 Русская усадьба
			.cb-btn
				div Обратный звонок
					span или напишите нам
			script(src="js/jquery-1.9.1.min.js")
			script(src="js/owl.carousel.min.js")
			script(src="js/main.js")






