<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=1280")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
		link(rel="stylesheet", href="css/style.css")
		title Русская усадьба
	body
		.modal-bg
		.modal.thx
			.modal-container
				a(href="#" class="close-btn")
				div спасибо 
				p ваша заявка принята
				span Наш менеджер свяжется с Вами в течение 10 минут!
		.wrap
			header
				.logo-container
					.logo
						a(href="/")
							img(src="images/ui/logo.png", alt="")
					div производство мебели  из дерева
				.top-data
					.worktime
						div с 9:00 до 21:00
						div Без выходных
					.mail
						a(href="mailto:info@info.ru") info@info.ru
					.phone
						a(href="tel:74958054267") +7 495 805 42 67
						a(href="tel:79661005003") +7 966 100 50 03
			nav
				ul
					li
						a(href="#") доставка
					li
						a(href="#") как заказать
					li
						a(href="#") каталог нашей продукции
					li
						a(href="#") контакты
					li
						a(href="#") гарантия
			main
				aside
					.collection
						.img-form
							img(src="http://pipsum.com/500x500", alt="")
						a(href="#") комплекты мебели
					.sidebar-menu
						ul
							li
								a(href="#") дизайн-проекты
							li
								a(href="#") цветовая гамма
							li
								a(href="#") доставка
							li 
								a(href="#") акции 
							li
								a(href="#") вызов замерщика
							li
								a(href="#") акции
							li
								a(href="#") вызов замерщика


				article
					section.card
						.breadcrumbs
							a(href="#") Главная
							a(href="#") Комплекты мебели
							span Кресла
						h1 Кресло германика
						.card-wrap
							.item-img
								.img
									img(src="http://pipsum.com/316x378", alt="")
							.item-data
								.price Цена: 39 000 руб
								.info
									div Наличие: Под заказ
									div Материал: Сосна
									div Цвет: более 30 цветов и оттенков
									div Стол-1500мм*700мм
								.leave-order Оставить заявку
								.sale
									div Скидка <b>5%</b>
									div.
										только для посетителей сайта!
										Сообщите менеджеру, что Вы нашли «Старинофф-мебель» через Интернет 
										и получите скидку при заказе!
						.card-info
							p.
								Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
							p.
								Наша компания готова представить вашему вниманию большой выбор деревянной мебели под старину, будь то  кухня под старину или состаренный стол, которые выполнены в старом классическом стиле. Данные предметы интерьера являются поистине уникальными и экологически чистыми. Она имеет отличное качество и превосходный дизайн. Данная мебель собирается вручную с помощью высококвалифицированных мастеров древесного дела, которые подходят к своей работе со всей душой и полной ответственностью.
							p.
								Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
							p.
								Наша компания готова представить вашему вниманию большой выбор деревянной мебели под старину, будь то  кухня под старину или состаренный стол, которые выполнены в старом классическом стиле. Данные предметы интерьера являются поистине уникальными и экологически чистыми. Она имеет отличное качество и превосходный дизайн. Данная мебель собирается вручную с помощью высококвалифицированных мастеров древесного дела, которые подходят к своей работе со всей душой и полной ответственностью.
					section.similar
						h2 описание категории кресла
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Наша компания готова представить вашему вниманию большой выбор деревянной мебели под старину, будь то  кухня под старину или состаренный стол, которые выполнены в старом классическом стиле. Данные предметы интерьера являются поистине уникальными и экологически чистыми. Она имеет отличное качество и превосходный дизайн. Данная мебель собирается вручную с помощью высококвалифицированных мастеров древесного дела, которые подходят к своей работе со всей душой и полной ответственностью.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						p.
							Наша компания готова представить вашему вниманию большой выбор деревянной мебели под старину, будь то  кухня под старину или состаренный стол, которые выполнены в старом классическом стиле. Данные предметы интерьера являются поистине уникальными и экологически чистыми. Она имеет отличное качество и превосходный дизайн. Данная мебель собирается вручную с помощью высококвалифицированных мастеров древесного дела, которые подходят к своей работе со всей душой и полной ответственностью.
						p.
							Предметы интерьера старого классического стиля всегда считались престижными, особенно это касается состаренной мебели. Ведь мебель, выполненная под старину из натурального дерева, имеет всегда высокую цену.
						.bottom-data
							.worktime
								div с 9:00 до 21:00
								div Без выходных
							.mail
								a(href="mailto:info@info.ru") info@info.ru
							.phones
								a(href="tel:74958054267") +7 495 805 42 67
								a(href="tel:79661005003") +7 966 100 50 03
			footer
				.footer-nav
					ul
						li
							a(href="#") доставка 
						li
							a(href="#") как заказать 
						li
							a(href="#") каталог
						li
							a(href="#") контакты
						li
							a(href="#") гарантия
				.copyr © 2016 Русская усадьба
			.cb-btn
				div Обратный звонок
					span или напишите нам
			script(src="js/jquery-1.9.1.min.js")
			script(src="js/owl.carousel.min.js")
			script(src="js/main.js")






